<!-- File: voter_analytics/templates/voter_analytics/search.html -->
<!-- Author: Travis Falk(travisf@bu.edu), 10/29/2025 -->
<!-- Description: Search form for filtering voters -->

<h2>Filter Voters</h2>

<table>
<form method="get">
    
    <tr>
        <th>Party Affiliation:</th>
        <td>
            <select name="party_affiliation">
                <option value="">---</option>
                <option value="D " {% if request.GET.party_affiliation == 'D ' %}selected{% endif %}>Democrat</option>
                <option value="R " {% if request.GET.party_affiliation == 'R ' %}selected{% endif %}>Republican</option>
                <option value="U " {% if request.GET.party_affiliation == 'U ' %}selected{% endif %}>Unenrolled</option>
                <option value="CC" {% if request.GET.party_affiliation == 'CC' %}selected{% endif %}>Commonwealth Constitution</option>
                <option value="L " {% if request.GET.party_affiliation == 'L ' %}selected{% endif %}>Libertarian</option>
                <option value="T " {% if request.GET.party_affiliation == 'T ' %}selected{% endif %}>United Independent Party</option>
                <option value="O " {% if request.GET.party_affiliation == 'O ' %}selected{% endif %}>Other</option>
                <option value="G " {% if request.GET.party_affiliation == 'G ' %}selected{% endif %}>Green Party USA</option>
                <option value="J " {% if request.GET.party_affiliation == 'J ' %}selected{% endif %}>Green-Rainbow</option>
                <option value="Q " {% if request.GET.party_affiliation == 'Q ' %}selected{% endif %}>Massachusetts Independent Party</option>
                <option value="FF" {% if request.GET.party_affiliation == 'FF' %}selected{% endif %}>America First Party</option>
            </select>
        </td>
    </tr>
    
    <tr>
        <th>Birth Year (Min):</th>
        <td>
            <select name="min_birth_year">
                <option value="">---</option>
                <option value="1920" {% if request.GET.min_birth_year == '1920' %}selected{% endif %}>1920</option>
                <option value="1925" {% if request.GET.min_birth_year == '1925' %}selected{% endif %}>1925</option>
                <option value="1930" {% if request.GET.min_birth_year == '1930' %}selected{% endif %}>1930</option>
                <option value="1935" {% if request.GET.min_birth_year == '1935' %}selected{% endif %}>1935</option>
                <option value="1940" {% if request.GET.min_birth_year == '1940' %}selected{% endif %}>1940</option>
                <option value="1945" {% if request.GET.min_birth_year == '1945' %}selected{% endif %}>1945</option>
                <option value="1950" {% if request.GET.min_birth_year == '1950' %}selected{% endif %}>1950</option>
                <option value="1955" {% if request.GET.min_birth_year == '1955' %}selected{% endif %}>1955</option>
                <option value="1960" {% if request.GET.min_birth_year == '1960' %}selected{% endif %}>1960</option>
                <option value="1965" {% if request.GET.min_birth_year == '1965' %}selected{% endif %}>1965</option>
                <option value="1970" {% if request.GET.min_birth_year == '1970' %}selected{% endif %}>1970</option>
                <option value="1975" {% if request.GET.min_birth_year == '1975' %}selected{% endif %}>1975</option>
                <option value="1980" {% if request.GET.min_birth_year == '1980' %}selected{% endif %}>1980</option>
                <option value="1985" {% if request.GET.min_birth_year == '1985' %}selected{% endif %}>1985</option>
                <option value="1990" {% if request.GET.min_birth_year == '1990' %}selected{% endif %}>1990</option>
                <option value="1995" {% if request.GET.min_birth_year == '1995' %}selected{% endif %}>1995</option>
                <option value="2000" {% if request.GET.min_birth_year == '2000' %}selected{% endif %}>2000</option>
                <option value="2005" {% if request.GET.min_birth_year == '2005' %}selected{% endif %}>2005</option>
                <option value="2010" {% if request.GET.min_birth_year == '2010' %}selected{% endif %}>2010</option>
            </select>
        </td>
    </tr>
    
    <tr>
        <th>Birth Year (Max):</th>
        <td>
            <select name="max_birth_year">
                <option value="">---</option>
                <option value="1920" {% if request.GET.max_birth_year == '1920' %}selected{% endif %}>1920</option>
                <option value="1925" {% if request.GET.max_birth_year == '1925' %}selected{% endif %}>1925</option>
                <option value="1930" {% if request.GET.max_birth_year == '1930' %}selected{% endif %}>1930</option>
                <option value="1935" {% if request.GET.max_birth_year == '1935' %}selected{% endif %}>1935</option>
                <option value="1940" {% if request.GET.max_birth_year == '1940' %}selected{% endif %}>1940</option>
                <option value="1945" {% if request.GET.max_birth_year == '1945' %}selected{% endif %}>1945</option>
                <option value="1950" {% if request.GET.max_birth_year == '1950' %}selected{% endif %}>1950</option>
                <option value="1955" {% if request.GET.max_birth_year == '1955' %}selected{% endif %}>1955</option>
                <option value="1960" {% if request.GET.max_birth_year == '1960' %}selected{% endif %}>1960</option>
                <option value="1965" {% if request.GET.max_birth_year == '1965' %}selected{% endif %}>1965</option>
                <option value="1970" {% if request.GET.max_birth_year == '1970' %}selected{% endif %}>1970</option>
                <option value="1975" {% if request.GET.max_birth_year == '1975' %}selected{% endif %}>1975</option>
                <option value="1980" {% if request.GET.max_birth_year == '1980' %}selected{% endif %}>1980</option>
                <option value="1985" {% if request.GET.max_birth_year == '1985' %}selected{% endif %}>1985</option>
                <option value="1990" {% if request.GET.max_birth_year == '1990' %}selected{% endif %}>1990</option>
                <option value="1995" {% if request.GET.max_birth_year == '1995' %}selected{% endif %}>1995</option>
                <option value="2000" {% if request.GET.max_birth_year == '2000' %}selected{% endif %}>2000</option>
                <option value="2005" {% if request.GET.max_birth_year == '2005' %}selected{% endif %}>2005</option>
                <option value="2010" {% if request.GET.max_birth_year == '2010' %}selected{% endif %}>2010</option>
            </select>
        </td>
    </tr>
    
    <tr>
        <th>Voter Score:</th>
        <td>
            <select name="voter_score">
                <option value="">---</option>
                <option value="0" {% if request.GET.voter_score == '0' %}selected{% endif %}>0</option>
                <option value="1" {% if request.GET.voter_score == '1' %}selected{% endif %}>1</option>
                <option value="2" {% if request.GET.voter_score == '2' %}selected{% endif %}>2</option>
                <option value="3" {% if request.GET.voter_score == '3' %}selected{% endif %}>3</option>
                <option value="4" {% if request.GET.voter_score == '4' %}selected{% endif %}>4</option>
                <option value="5" {% if request.GET.voter_score == '5' %}selected{% endif %}>5</option>
            </select>
        </td>
    </tr>
    
    <tr>
        <th>Voted in Elections:</th>
        <td>
            <input type="checkbox" name="v20state" value="on" {% if request.GET.v20state %}checked{% endif %}> 2020 State<br>
            <input type="checkbox" name="v21town" value="on" {% if request.GET.v21town %}checked{% endif %}> 2021 Town<br>
            <input type="checkbox" name="v21primary" value="on" {% if request.GET.v21primary %}checked{% endif %}> 2021 Primary<br>
            <input type="checkbox" name="v22general" value="on" {% if request.GET.v22general %}checked{% endif %}> 2022 General<br>
            <input type="checkbox" name="v23town" value="on" {% if request.GET.v23town %}checked{% endif %}> 2023 Town<br>
        </td>
    </tr>
    
    <tr>
        <td><input type="submit" value="Filter"></td>
        <td></td>
    </tr>
    
</form>
</table>
