<!-- File: project/templates/project/create_profile_form.html -->
<!-- Author: Travis Falk(travisf@bu.edu), 12/2/2025 -->
<!-- Description: Create Profile Form Template -->

{% extends 'project/base.html' %}

{% block content %}
<div class="create-profile-container">
  <h2>Create Profile</h2>
  <form method="post" enctype="multipart/form-data" action="{% url 'create_profile' %}" class="create-profile-form">
    {% csrf_token %}
    
    <h3>User Account Information</h3>
    <table>
      {{ user_form.as_table }}
    </table>
    
    <h3>Profile Information</h3>
    <table>
      {{ form.as_table }}
    </table>
    
    <div class="create-profile-buttons">
      <input type="submit" name="submit" value="Create Profile" class="submit-btn">
      <a href="{% url 'login' %}"><input type="button" value="Cancel" class="cancel-btn"></a>
    </div>
  </form>
</div>
{% endblock %}
