<!-- File: quotes/template/quotes/about.html -->
<!-- Author: Travis Falk(travisf@bu.edu), 9/11/2025 -->
<!-- Description: About Page Template -->

{% extends 'quotes/base.html' %}

{% block content %}
    <h1>About</h1>
    <p>Wayne Douglas Gretzky CC is a Canadian former professional ice hockey player and former head coach. He played 20 seasons in the National Hockey League for four teams from 1979 to 1999.</p>
    <p>He is the leading scorer in NHL history, with more goals and assists than any other player. He is the only NHL player to total over 200 points in a single season, a feat he accomplished four times. He also holds or shares 61 NHL records, including most career goals (894), most career assists (1,963), and most career points (2,857).</p>

    <br><br>
    <sub>Page created by Travis Falk - CS412 Boston University 2025</sub>
{% endblock %}