<!-- File: mini_insta/templates/mini_insta/base.html -->
<!-- Author: Travis Falk(travisf@bu.edu), 9/26/2025 -->
<!-- Description: Base Template for Mini Insta -->


{% load static %}
<html lang="en">
    <head>
        <title>Mini Insta</title>
        <link rel="stylesheet" type="text/css" href="{% static 'mini_insta_styles.css' %}">
    </head>

        <!-- Navigation Bar -->
    <nav>
        {% if profile %}
            <a href="{% url 'show_feed' profile.pk %}">Home</a>
            <a href="{% url 'search' profile.pk %}">Search</a>
            <a href="{% url 'show_profile' profile.pk %}">Profile</a>
        {% else %}
            <a href="{% url 'show_all_profiles' %}">Home</a>
        {% endif %}
    </nav>

    <!-- Main Content -->
    <body>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>

    <footer>
        <a href="{% url 'show_all_profiles' %}">Back to Profiles</a>
        {% if profile %}
            <a href="{% url 'create_post' profile.pk %}">Create Post</a>
        {% endif %}
    </footer>
</html>