<!-- File: mini_insta/templates/mini_insta/show_post.html -->
<!-- Author: Travis Falk(travisf@bu.edu), 9/30/2025 -->
<!-- Description: Show Post Template -->



{% extends 'mini_insta/base.html' %}

{% block content %}
<div class="post-detail">
    <div class="post-photos">
        {% for photo in post.get_all_photos %}
            <img src="{{ photo.get_image_url }}">
        {% endfor %}
    </div>
    
    <p><strong>{{ post.get_likes.count }} likes</strong></p>
    
    {% if request.user.is_authenticated and not is_owner %}
        {% if is_liked %}
            <p><a href="{% url 'delete_like' post.pk %}"><button>Unlike</button></a></p>
        {% else %}
            <p><a href="{% url 'like_post' post.pk %}"><button>Like</button></a></p>
        {% endif %}
    {% endif %}
    
    <p>{{ post.caption }}</p>
    
    <div class="post-comments">
        <h4>Comments</h4>
        {% for comment in post.get_all_comments %}
            <div class="comment">
                <p><strong>{{ comment.profile.display_name }}</strong>: {{ comment.text }}</p>
                <p class="comment-timestamp">{{ comment.timestamp|date:"F j, Y g:i A" }}</p>
            </div>
        {% endfor %}
    </div>
    
    <p><strong>Posted on:</strong> {{ post.timestamp }}</p>
    
    {% if request.user.is_authenticated and is_owner %}
        <p>
            <a href="{% url 'update_post' post.pk %}">Update</a> |
            <a href="{% url 'delete_post' post.pk %}">Delete</a>
        </p>
    {% endif %}
</div>
{% endblock %}