<!-- File: mini_insta/templates/mini_insta/show_profile.html -->
<!-- Author: Travis Falk(travisf@bu.edu), 9/26/2025 -->
<!-- Description: Show Profile Template -->



{% extends 'mini_insta/base.html' %}

{% block content %}
<div class="profile-detail">
    <h2>{{ profile.display_name }} (@{{ profile.username }})</h2>
    <img src="{{ profile.profile_image_url }}">
    
    <div class="profile-info">
        <p class="bio-text">"{{ profile.bio_text }}"</p>
        <p><strong>Joined on:</strong> {{ profile.join_date|date:"F j, Y" }}</p>
        <p><strong>Following:</strong> <a href="{% url 'show_following' profile.pk %}">{{ profile.get_num_following }}</a></p>
        <p><strong>Followers:</strong> <a href="{% url 'show_followers' profile.pk %}">{{ profile.get_num_followers }}</a></p>
        <p><a href="{% url 'update_profile' profile.pk %}">Update Profile</a></p>
        
        <!-- Display user's posts   -->
        <h3>Posts</h3>
        <div class="posts">
            {% for post in profile.get_all_posts %}
                <a class="post" href="{% url 'show_post' post.pk %}">
                    <p>{{ post.caption }}</p>
                    {% if post.get_all_photos %}
                    <img src="{{ post.get_all_photos.first.get_image_url }}">
                    {% else %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png">
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}